name: Nvidia Daily Quant Bot

on:
  schedule:
    # Se ejecuta a las 8:00 AM hora CDMX aprox (14:00 UTC) de Lunes a Viernes
    - cron: '0 14 * * 1-5'
  workflow_dispatch: # Esto permite ejecutarlo manualmente con un botón

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar librerías
        run: |
          python -m pip install --upgrade pip
          pip install --no-cache-dir -r requirements.txt
          
      - name: Ejecutar Predicción e IA
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          TF_USE_LEGACY_KERAS: '1'
        run: python main.py
